/* 
    Document   : demo-1
    Created on : 06.06.2012, 23:33:31
    Author     : Admin
    Description:
        Purpose of the stylesheet follows.
*/

/* Карта на весь экран */
html, body, #map-demo-1 {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
